* {outline:none !important;}
body {
  background:#f8f8f8;
  overflow-x: hidden;
  overflow-y: auto;
}



#head-info{
  background-color:#313b3f; 
  position:relative;
  padding-left: 0;
}
#logo {
  
  padding-left: 0;
  float: left;
}

#logo a {
  color: #D8D8D8;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#logo a:hover {
  background-position: right 20px;
  text-decoration: none;
}

#logo-erp span {
  	color: #0b66b1;
	font-family: 'exoregular', "Trebuchet MS", Arial, Helvetica, sans-serif;
	display: block;
	font-size: 20px;
	line-height: 50px;	
  }

#toogler {  
  padding-right: 0;
  float: right;
  vertical-align: middle;
  padding-top: 15px;
}
.navbar {
  margin: 0;
  border: 0;
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom:0px;
  z-index: 2000;
}
.body-expanded .navbar {
  z-index: 9;
}
a.show-sidebar {
  float: left;
  margin-left: 15px;
  color:#9ba5ac;
  outline: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
a.show-sidebar:hover {
  color:#25aae1;
}
#sidebar-left {
  position:relative;
  z-index: inherit;
  padding-bottom: 3000px !important;
  margin-bottom: -3000px !important;
  background-color:#313b3f;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  font-size: 15px;
  font-family: 'exoregular', "Trebuchet MS", Arial, Helvetica, sans-serif;
  -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;
}

#sidebar-left .nav.main-menu.hover li a i.fa{
	color:#25aae1;
}


#sidebar-left .nav.main-menu li a i.fa {
	font-size: 20px;	
	margin-right: 25px;	
}

#sidebar-left .nav.main-menu >li{
	border-top:solid 1px #404a4e;
}

/*fonts*/
.boldFont{font-family: 'exosemibold', "Trebuchet MS", Arial, Helvetica, sans-serif;}
.boldItalicFont{font-family: 'exobolditalic', "Trebuchet MS", Arial, Helvetica, sans-serif;}
.mediumFont{font-family: 'exomedium', "Trebuchet MS", Arial, Helvetica, sans-serif;}
.regularFont{font-family: 'exoregular', "Trebuchet MS", Arial, Helvetica, sans-serif;}
/*font sizes*/
.fontSize34{font-size:34px;}
.fontSize30{font-size:30px;}
.fontSize24{font-size:24px;}
.fontSize21{font-size:21px;}
.fontSize18{font-size:18px;}
.fontSize14{font-size:14px;}

#sidebar-left .nav.main-menu >li > input{ padding:6px; background-color:#354044; outline:none; border:0px; border:none; color:#9ba5ac; border-radius:20px;
	-webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.5); -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.5); box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.5);}
#sidebar-left .nav.main-menu >li > img{width:30px; height:auto; float:left;}


input.searchInput {
    padding-left: 30px !important;
}

#sidebar-left .nav.main-menu li.sidebar-search > i {
	font-size: 15px;	
	margin-left: 10px;
	margin-right: 10px;
	color:#9ba5ac;	
}



#content {
  position: relative;
  z-index: 10;
  background: #f8f8f8;
  box-shadow: 0 0 6px #000;
  padding-bottom: 3000px !important;
  margin-bottom: -2980px !important;
  overflow: hidden;
  padding-right: 0px;
  padding-left:  0px;
  font-size: 11px;  
}
.full-content {
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.nav.main-menu, .nav.msg-menu {
  margin:0 -15px;
}
.nav.main-menu > li > a, .nav.msg-menu > li > a {
  text-align: center;
  color:#9ba5ac;
  min-height: 40px;
  -webkit-transition: 0.05s;
  -moz-transition: 0.05s;
  -o-transition: 0.05s;
  transition: 0.05s;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .nav > li > a:hover, .nav > li > a:focus {
  background:rgba(0, 0, 0, 0.1);
}
.nav.main-menu > li > a:hover, .nav.main-menu > li > a:focus, .nav.main-menu > li.active > a, .nav.main-menu .open > a, .nav.main-menu .open > a:hover, .nav.main-menu .open > a:focus, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li.active > a,
.nav.msg-menu > li > a:hover, .nav.msg-menu > li > a:focus, .nav.msg-menu > li.active > a, .nav.msg-menu .open > a, .nav.msg-menu .open > a:hover, .nav.msg-menu .open > a:focus {
  /* background:rgba(0, 0, 0, 0.1); */
  background:#20282b;
  color:#f0f0f0;
  padding-left: 20px;
}
.nav.main-menu a.active, .nav.msg-menu a.active {
  background:rgba(0, 0, 0, 0.2);
}
.nav.main-menu a.active:hover, .nav.msg-menu a.active:hover {
  background:rgba(0, 0, 0, 0.2);
}
.nav.main-menu a.active-parent, .nav.msg-menu a.active-parent {
  background: rgba(0, 0, 0, 0.3);
}
.nav.main-menu a.active-parent:hover, .nav.msg-menu a.active-parent:hover {
  background: rgba(0, 0, 0, 0.3);
}
.nav.main-menu > li > a > i, .nav.msg-menu > li > a > i {
  font-size: 18px;
  width: auto;
  display: block;
  text-align: center;
}
.main-menu .dropdown-menu {
  position: absolute;
  z-index: 2001;
  left: 100%;
  top: 0;
  float: none;
  margin: 0;
  border: 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  padding: 0;
  background: #6AA6D6;
  box-shadow: none;
  visibility:hidden;
}
.main-menu .active-parent:hover + .dropdown-menu {
  visibility:visible;
}
.main-menu .active-parent + .dropdown-menu:hover {
  visibility:visible;
}
.main-menu .dropdown-menu > li > a {
  padding:9px 15px 9px 15px;
  color:#f0f0f0;
}

.main-menu .dropdown-menu > li > a.option-link{
	padding:9px 15px 9px 35px;
}

.main-menu .dropdown-menu > li:first-child > a {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.main-menu .dropdown-menu > li:last-child > a {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;  
}

.main-menu .sidebar-search {
    padding: 15px;
    width: 100%;
}


.main-menu .arrow {
    float: right;
}

.main-menu .fa.arrow:before {
    content: "\f104";
}

.main-menu .active .fa.arrow:before {
    content: "\f107";
}


#top-panel {
  line-height: 50px;
  height: 50px;
  background:#eff3f5;
}
#main {
  margin-top: 50px;
  min-height: 800px;
  overflow: hidden;
}
#search {
  position: relative;
}
#search > input {
  width: 80%;
  background: #dfdfdf;
  border: 1px solid #C7C7C7;
  text-shadow:0 1px 1px #EEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #686868;
  line-height: 1em;
  height: 30px;
  padding: 0 35px 0 10px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#search > input + i {
  opacity:0;
  position: absolute;
  top: 18px;
  right: 10px;
  color: #fff;
}
#search > input:focus {
  width:100%;
  outline:none;
}
#search > input:focus + i {
  opacity:1;
  transition-delay:0.2s;
  transition-duration: 0.2s;
}
.panel-menu {
  margin: 0;
}
.top-panel-right {
  padding-left: 0;
}
.panel-menu > li > a {
  padding: 0 5px 0 10px;
  line-height: 50px;
}
.panel-menu a.account {
  height: 50px;
  padding: 5px 0 5px 10px;
  line-height: 18px;
}
.panel-menu i {
  margin-top: 8px;
  padding: 5px;
  font-size: 20px;
  color: #0b66b1;
  line-height: 1em;
  vertical-align: top;
  -webkit-transition: 0.05s;
  -moz-transition: 0.05s;
  -o-transition: 0.05s;
  transition: 0.05s;
}
.panel-menu i.pull-right {
  color: #525252;
  border: 0 !important;
  box-shadow: none;
  font-size: 16px;
  background: none !important;
}
.badge{
	color: #0b66b1;	
	font-family: 'exoregular', "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.panel-menu .empresa .badge  {
  background:none;
  border: none;  
}

.avatar {
  width: 40px;
  float: left;
  margin-right: 5px;
}
.avatar > img {
  width:40px;
  height:40px;
}
.user-mini > span {
  display: block;
  font-size: 13px;
  color: #0b66b1;
  margin-bottom: -4px;
  font-family: 'exoregular', "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.user-mini > span.welcome {
  font-weight: bold;
  margin-top: 2px;
}
.panel-menu .dropdown-menu {
  position: absolute;
  background:#dbdbdb;
  padding: 0;
  border: 0;
  right: 0;
  left: auto;
  min-width: 100%;
  font-family: 'exoregular', "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.panel-menu .dropdown-menu > li > a {
  padding:5px 10px !important;
  color:#337ab7;
}
.panel-menu .dropdown-menu > li > a > i {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  width: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  
}

#sidebar-left.col-xs-2 {
  opacity: 0;
  width: 0%;
  padding: 0;
}
.sidebar-show #sidebar-left.col-xs-2 {
  opacity: 1;
  width: 16.666666666666664%;
  padding: 0 15px;
}
.sidebar-show #content.col-xs-12 {
  opacity: 1;
  width: 100%;
  padding-right: 0px;
  padding-left:  0px;
}

.ui-corner-tl {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.ui-corner-tr {
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}

.ui-corner-bl {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.ui-corner-br {
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ui-corner-top {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}

.ui-corner-bottom {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ui-corner-right {
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ui-corner-left {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.ui-corner-all {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.ui-layout-unit-content {
    padding: 0px 0px 0px 0px !important;  
    margin:  0px 0px 0px 0px !important; 
    border: 0px none;
    overflow-x:hidden; overflow-y:auto;
}

.ui-growl {
	z-index: 3000 !important; 

}

.ui-tabs-top .ui-tabs-navscroller {
     border-top-right-radius: 1px; 
     border-top-left-radius: 1px; 
     padding-left: 0px !important; 
}


.ui-tabs-panel {
    padding: 0px 0px 0px 0px !important;  
    margin:  0px 0px 0px 0px !important;    
}


#about {
  position: absolute;
  left: 0px;
  width: 100%;
  background: #eff3f5;
  color:#313b3f;
  top: 0px;
  transition: 1s;
  height: 0;
  overflow: hidden;
  z-index: 9999;
  font-size: 16px;
}
.about-inner {
  padding: 15px;
}
.about {color:#337ab7 !important;}
#about.about-h {height: 600px;}

@media (min-width: 768px) {
  #sidebar-left.col-sm-2 {
    opacity: 1;
    width: 16.666666666666664%;
    padding: 0 15px;
  }
  .sidebar-show #sidebar-left.col-sm-2 {
    opacity: 0;
    width:0;
    padding:0;
  }
  .sidebar-show #content.col-sm-10 {
    opacity: 1;
    width:100%;
    padding-right: 0px;
  	padding-left:  0px;
  }
  .page-404 .form-inline {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .nav.main-menu > li > a, .nav.msg-menu > li > a {
    text-align: left;
  }
  .nav.main-menu > li > a > i, .nav.msg-menu > li > a > i {
    font-size:14px;
    width: 20px;
    display: inline-block;
  }
  .main-menu .dropdown-menu {
    position: relative;
    z-index: inherit;
    left:0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background:rgba(0, 0, 0, 0.2);
    visibility: visible;
  }
  .main-menu .dropdown-menu > li > a {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .page-404 .form-inline {
    width: 40%;
  }
}
@media (max-width: 767px) {
  #main {
    margin-top: 100px;
  }
  #messages-menu {
    top:140px;
  }
  .page-404 .form-inline {
    width: 100%;
  }
  #dashboard_links .nav {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
  }
  #dashboard_links .nav-stacked > li {
    float:left;
  }
  #dashboard_links .nav-pills > li > a {
    padding:15px;
  }
  #dashboard_links .nav-pills > li.active > a:before {
    bottom: 0;
    left: 50%;
    margin-left: -9px;
  }
}
@media (max-width: 620px) {
  .user-mini {
    display: none;
  }
}
@media (max-width: 400px) {
  .panel-menu a.account {
    padding: 5px 0px 5px 0;
  }
  .avatar {
    margin: 0;
  }
  .panel-menu i.pull-right {
    margin-left: 0;
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none;
  }
  #dashboard_links .nav-stacked > li {
    float:none;
  }
  #dashboard_links .nav-pills > li.active > a:before {
    display: none;
  }
  
  .filterArea{
	  margin: 2px 2px 2px 2px;
	  padding: 2px 2px 2px 2px;
	  border: none;
  }
  
  .searchResultArea{
	  margin: 2px 2px 2px 2px;
	  padding: 2px 2px 2px 2px;
  }
  
  .edit-header-content{
  	  margin: 2px 2px 2px 2px;
	  padding: 2px 2px 2px 2px;
	  border: none;	  
  }
  
}
